.project-modal {
  height: 70vh;
  position: relative;
  display: none;
  left: 10%;
  top: -25%;
  z-index: 5;
  transition: 1s all ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: 0.25s all ease-in-out;

  @media (max-width: 1500px) {
    height: 85vh;
    width: 40vw;
  }

  @media (max-width: 1300px) {
    height: 85vh;
    width: 80vw;
    top: -10%;
    left: 10%;
  }
  @media (max-width: 500px) {
    height: 120vh;
    top: -5%;
    z-index: 200;
  }
  opacity: 0;
  &--active {
    width: 150vw;
    left: 60%;
    z-index: 1000;
    background-color: white;
    transition: 0.5s all ease-in-out;
    opacity: 1;
    transform: translateX(-35%);
    @media (max-width: 1300px) {
      left: 37%;
      width: 110vw;
    }
    @media (max-width: 650px) {
      margin-top: -6rem;
    }
  }
  &--closed {
    transition: 1s all ease-in-out;
  }
  &__text {
    padding: 2rem 5rem;
  }
  &__achievlist {
    padding: 2rem 6rem;
  }
  &__achiev {
    padding: 1rem;
  }
  &__heading {
    font-size: 3rem;
    padding: 2rem;
  }
}
.exit-bg {
  padding: 3.5rem 1rem;
  cursor: pointer;
  top: 6%;
  right: 5%;
  position: absolute;
  border-radius: 50%;
  transition: 0.3s box-shadow ease-in-out;
  &:hover {
    box-shadow: 3px 3px 5px #999;
  }
  &:active {
    transform: scale(1.05);
  }
  @media (max-width: 900px) {
    top: 0%;
    right: 0%;
  }
}
.exit {
  background-color: #333;
  width: 5rem;
  height: 0.25rem;
  transform: rotate(45deg);

  cursor: pointer;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 6%;
    right: 5%;
    background-color: #333;
    width: 5rem;
    height: 0.25rem;
    transform: rotate(-90deg);
  }
}
