@import '../../variables';
.projectitem {
  width: 80vw;
  height: 60vh;
  background-color: white;
  margin: 5vh 0;
  padding: 1rem 5vw;

  display: flex;
  align-items: center;

  &__details {
    margin-left: 5vw;
    max-width: 35vw;
  }
  &__heading {
    font-size: 5rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  &__description {
    font-size: 2rem;
    color: $color-light-black;
    margin-bottom: 4vh;
  }
  &__details-icon {
    width: 60px;
    cursor: pointer;
    margin: 0 1rem;
  }
}

.gallery {
  width: 30vw;
}
