@import '../../variables';
.projects {
  // width: 110vw;
  // max-width: 100vw;
  height: auto;
  // background-color: $color-primary;
  background: rgb(10, 41, 112);
  background: linear-gradient(
    143deg,
    rgba(10, 41, 112, 1) 7%,
    rgba(10, 41, 112, 1) 14%,
    rgba(10, 41, 112, 1) 25%,
    rgba(135, 103, 106, 0.773546918767507) 46%,
    rgba(228, 150, 101, 0.7903536414565826) 60%,
    rgba(130, 101, 106, 1) 74%,
    rgba(41, 57, 110, 1) 81%
  );
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
    & > * {
      // width: 80vw;
    }
  }
  &__title {
    color: white;
    font-size: 8rem;
    font-weight: 300;
    margin-top: 15vh;
    margin-bottom: 10vh;
    text-align: center;
    @media (max-width: 1500px) {
      font-size: 6rem;
    }
    @media (max-width: 1300px) {
      margin-top: 25vh;
    }
  }
}
