@import "../../variables";
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap");

.intro {
  width: 100vw;
  height: 100vh;
  background-color: $color-primary;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    position: absolute;
    content: "";
    clip-path: polygon(65% 0%, 100% 0%, 75% 100%, 0% 100%);
    background-color: rgba($color-secondary, 0.1);
    width: 20vw;
    height: 90%;
    top: 10%;
    left: 50%;
    @media (max-width: 900px) {
      width: 30vw;
    }
  }
  &::after {
    position: absolute;
    content: "";
    background-color: rgba($color-secondary, 0.1);
    clip-path: polygon(75% 0%, 100% 0%, 25% 100%, 0% 70%);
    width: 20vw;
    height: 90%;
    top: 10%;
    left: 30%;
    @media (max-width: 900px) {
      width: 30vw;
    }
  }

  &__headings {
    margin-top: 6.5vh;
    background-color: rgba(orangered, 0.07);
    width: 100vw;
    height: 60vh;
    position: relative;
    font-family: "Red Hat Display", sans-serif;
  }

  &__headline {
  }
  &__headline--main {
    position: absolute;
    top: 50%;
    left: 56%;
    color: $color-almost-white;
    font-size: 12rem;
    // font-weight: 600;
    letter-spacing: 1.1rem;
    line-height: 13rem;
    //text-transform: uppercase;
    transform: translate(-50%, -50%);
    @media (max-width: 1600px) {
      left: 53%;
    }
    @media (max-width: 1350px) {
      font-size: 9rem;
      left: 55%;
    }
  }

  &__headline--hor {
    position: absolute;
    top: 8%;
    left: 28%;
    font-size: 4rem;
    font-weight: 500;

    text-transform: uppercase;
  }
  &__headline--horrev {
    position: absolute;
    bottom: 8%;
    right: 28%;
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__headline--vert {
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: scale(-1);
  }
  &__headline--vertrev {
    position: absolute;
    bottom: 10%;
    right: 25%;
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: scale(-1);
  }
}
