$color-primary: #0a2970;
$color-primary-dark: #1510a1;

$color-secondary: #0070b2;

$color-tertiary: rgba(#0070b2, 0.1);

$color-almost-white: #fefefe;
$color-grey-light: #e8e8e8;
$color-grey-dark: #888;

$color-light-black: #333;
