$color-primary: #0a2970;
$color-primary-dark: #1510a1;

$color-secondary: rgba(230, 97, 124, 1);

$color-almost-white: #fefefe;
$color-grey-light: #e8e8e8;
$color-grey-dark: #888;

$color-light-black: #333;
