@import '../../variables';
.pills {
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 30vw;
    margin-top: 10vh;
    margin-left: 3rem;
    @media (max-width: 1300px) {
      width: 50vw;
    }
  }
  &__item {
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: $color-primary;
    color: white;
    font-size: 1.5rem;
  }
}
