@import '../../variables';
.aboutme {
  width: 100vw;
  height: 80vh;
  max-width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__container {
    margin-top: 11vh;
    // background-color: rgba(orangered, 0.1);
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: 5rem;
    color: $color-light-black;
  }
  &__skills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
.skill {
  margin: 0 3.5vw;
  width: 12vw;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  &__heading {
    font-size: 2.5rem;
    margin-top: -1rem;
    display: block;
    height: 2rem;
    margin-bottom: 1.5rem;
  }
  &__description {
    font-size: 1.5rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}
